// Small tablets and large smartphones (landscape view)
$screen-mobile: 600px;

// Tablets and small desktops
$screen-med: 1080px;

// XL large screens
// $screen-med: 1300px;

$screen-xl: 1600px;

// XSmall devices - <= 320px
@mixin xsm {
  @media (max-width: #{$screen-xs-mobile}) {
    @content;
  }
}

// Small devices - <= 600px
@mixin sm {
  @media (max-width: #{$screen-mobile}) {
    @content;
  }
}

// Medium devices - <= 1200px
@mixin md {
  @media (max-width: #{$screen-med}) {
    @content;
  }
}

// // Large devices - <= 1300px
// @mixin lg {
//   @media (max-width: #{$screen-med}) {
//     @content;
//   }
// }

// // Large devices - <= 1300px
// @mixin xl {
//   @media (min-width: #{$screen-xl}) {
//     @content;
//   }
// }
