
.footerAnimate {
    height: 40vh;
  }
  
  .footer-wrapper {
    margin: 0 auto;
  }
  
  @media (max-width: 600px) {
  
    .footerAnimate {
      height: auto;
    }
    
  }
  
  .textAnimate {
    position: absolute;
    bottom: 0;
    left: 70px;
    margin: 0px;
    font-size: 10vw;
    letter-spacing: inherit;
  }
  
  @media (max-width: 600px) {
    .textAnimate {
      left: 20px;
    }
  }
  
  .textAnimate h1 {
    display: block; 
    height: auto;
    margin: 0;
  }