// hero text
div.intro-wrapper {
  margin: 60px 0;

  @include sm {
    margin-top: 90px
  }

  .inner {
    padding: 0 60px;

    a:hover {
      color: inherit;
      mix-blend-mode: difference;
    }

    h1 {
      font-size: 16.5vw;
      cursor: pointer;
      letter-spacing: -1.17188vw;
    }

    h2 {
      font-size: 12vw;
      cursor: pointer;
      letter-spacing: -1.1vw;
      line-height: 11vw;

      @include sm {
        line-height: 20vw;
      }
    }
  }
}

// side text
.side-text {
  position: absolute;
  font-size: 1vw;
  letter-spacing: 0.1vw;
  line-height: 1.09375vw;  
  transform: translateX(100%) rotateZ(90deg);
  transform-origin: top left;
  top: 40px;
  right: 20px;

  @include sm {
    right: 10px;
  }
}

// images
.wrapper {
  margin: 0 auto;

  .images {
    position: relative;
    text-align: center;
    margin-bottom: 80px;

    img {
      transition: all 5s cubic-bezier(0.98, 0.65, 0.69, 0.96);
      max-width: 90%;
    }

    .section-text-wrapper {
      position: absolute;
      top: 150px;
      left: 50px;

      @include sm {
        left: 20px;
      }

      h1.master {
        pointer-events: none;
        width: 100%;
        z-index: 1;
        font-size: 16.5vw;
        cursor: pointer;
        letter-spacing: -1.17188vw;
        margin-left: 1.5vw;
      }
    }
  }
}