
/* ---------------------- T E X T S T Y L E Z Z -------------------------*/
div.intro-header {
    margin: 60px 0;
  }
  
  @media (max-width: 600px) {
    .intro-header {
      margin-top: 70px !important;
    }
  }
  
  div.large-top {
    margin-top: -65px;
  }


  .intro-header h1 {
    font-size: 16.5vw;
    cursor: pointer;
    letter-spacing: -1.17188vw;
    margin-left: 1.5vw;
  }

  div.large {
    padding-left: 4vw;
    padding-right: 9vw;
  }
  
  h1.master {
    pointer-events: none;
    width: 100%;
    z-index: 1;
    font-size: 16.5vw;
    cursor: pointer;
    letter-spacing: -1.17188vw; 
    margin-left: 1.5vw;
  }
  
  h2 {
    font-size: 12vw;
    cursor: pointer;
    letter-spacing: -1.1vw;
    line-height: 11vw;
    padding-left: 1vw;
    margin-top: 2vw;

    @include sm {
        line-height: 20vw;
    }
  }
  

  div.large-second {
    margin: -40px 0 20px 0;
  }
  
  
  /*--------------------- S I D E T E X T -------------------- */
  .side-text {
    font-family: Nb Akademie Std Regular;
    font-size: 1vw;
    color: #fff;
    letter-spacing: 0.1vw;
    line-height: 1.09375vw;
    font-weight: normal;
    position: absolute;
    transform: translateX(100%) rotateZ(90deg);
    transform-origin: top left;
    top: 5%;
    right: 40px; 

    @include sm {
        right: 10px;
    }
  }
  

  // meedia queries
  .section-text-wrapper {
    position: absolute;
    top: 150px;
    left: 50px;
    @include sm {
        left: 20px;
    }
  }
  

  
  /*-------------------- I M A G E S ------------------------ */
  .wrapper {
    margin: 0 auto;
  }
  
  section.images {
    position: relative;
    text-align: center; 
    margin-bottom: 80px;
  }
  
  .img-wrapper img {
    transition: all 5s cubic-bezier(0.98, 0.65, 0.69, 0.96);
    max-width: 90%;
  }
  
  