body {
    font-size: 3.5vmin;
    line-height: 1.75;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    opacity: 0.7;
}

ul {
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
}