/*----------------------- H O V E R --------------------------- */
.large h1 span {
    transition: color 1s;
  }
  
  .large h1 span:hover {
    transition: color 0s;
  }
  
  .large h1 span:hover {
    color: #FFF;
  }
  
  .large h1 span:nth-child(1n):hover {
    color: #fb412d;
  }
  
  .large h1 span:nth-child(2n):hover {
    color: #2d9dfb;
  }
  
  .large h1 span:nth-child(3n):hover {
    color: #4a2dfb;
  }
  
  .large h1 span:nth-child(4n):hover {
    color: #ffacb9;
  }
  
  .large h1 span:nth-child(5n):hover {
    color: #2d9dfb;
  }
  
  /*----------------------- H O V E R H 2 --------------------------- */
  
  .large h2 span {
    transition: color 1s;
  }
  
  .large h2 span:hover {
    transition: color 0s;
  }
  
  .large h2 span:hover {
    color: #FFF;
  }
  
  .large h2 span:nth-child(1n):hover {
    color: #fb412d;
  }
  
  .large h2 span:nth-child(2n):hover {
    color: #2d9dfb;
  }
  
  .large h2 span:nth-child(3n):hover {
    color: #4a2dfb;
  }
  
  .large h2 span:nth-child(4n):hover {
    color: #ffacb9;
  }
  
  .large h2 span:nth-child(5n):hover {
    color: #2d9dfb;
  }
  